RPC_HOST=replace-with-rpc-host
RPC_PORT=2224
RPC_USER=ops

LOCAL_REDPANDA_BROKER_PORT=19092
LOCAL_KAFKA_PORT=19092
LOCAL_PANDAPROXY_PORT=18082
LOCAL_TYPESENSE_PORT=18108
LOCAL_QDRANT_PORT=16333
LOCAL_CLICKHOUSE_HTTP_PORT=18123
LOCAL_NORMALIZER_PORT=18090
